<div class="d-flex align-items-center">
  <h1>新規レッスン作成</h1>
  <%= link_to 'マイレッスン', mylesson_path, class: 'ml-auto btn btn-outline-dark' %>
</div>
<%= render partial: 'form', locals: {lesson: @lesson} %>
