body {
  font-family: "M PLUS 1p", "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.wf-mplus1p { 
  font-family: "M PLUS 1p";
  font-weight: bolder;
  font-size: x-large;;

 }

h1 {
  margin: 30px;
}
