.center{
  text-align: center;
}

.link-layout{
  margin-bottom: 1em;
}

.video-size {
  margin-top: 1em;
  margin-bottom: 1em;
}

.cp_hr02 {
	border-width: 1px 0 0 0;
	border-style: dashed;
	border-color: #ffb300;
}

.p-margin{
  // padding-bottom: 0em;
  margin-bottom: 0.5em;
  // margin-top: 1em;
}

.mylesson-log{
  display: flex;
  margin: 0.5em;
  margin-left: 0em;
}

.mylesson{
  margin-right: 0.5em;
}

