<p>こんにちは <%= @resource.email %>さん!</p>

<p>パスワードの再設定がリクエストされました。下記リンクをクリックしてください。</p>

<p><%= link_to 'パスワードを変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがない場合、こちらのメールは無視してください。</p>
