<nav class="navbar navbar-expand-md navbar-light" style="background-color:rgba(255,140,0 ,0.8)" >
  <a class="navbar-brand logo-font wf-mplus1p" href="#">オンラインレッスン</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#">マイレッスン</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">レッスン一覧</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">プロフィール</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-md-0">
      <input class="form-control" type="text" placeholder="レッスンをさがす">
    </form>
  </div>
</nav>